* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  height: 80vh;
  cursor: pointer;
  position: relative;
  flex: 0.5;
  border-radius: 50px;
  transition: all 700ms ease-in;

}
.panel h3 {
  font-size: 24px;
  position: absolute;
  color: aliceblue;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
